---
import Block from "../components/block.astro"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Liam Pallett</title>
	</head>
	<body>
		<div class="blocks">
			<Block section="about me">

			</Block>

			<Block section="projects">

			</Block>

			<Block section="experience">

			</Block>
		</div>
	</body>
</html>

<style>
	.blocks {
		display: flex;
		justify-content: center;
		flex-flow: column wrap;
	}
</style>