---
const {section} = Astro.props;
---

<div class={section}>
    <div class="text">
        <h1>{section}</h1>
        <slot name="description"></slot>
    </div>
    <slot name="project"></slot>
</div>