---
const {section} = Astro.props;
---

<div class={section}>
    <slot name="image"></slot>
    <div class="text">
        <h1>{section}</h1>
        <slot name="description"></slot>
    </div>
</div>